@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import 'var';

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

button,
input,
textarea,
select {
  outline: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  background: $white;
  font-size: 16px;
  color: $blue;
}

@import 'app-page';
@import 'the-header';
@import 'side-block';
